.btn {
  font-weight: 600;
  font-size: 0.7rem;
  // text-transform: uppercase;
}

.btn-primary {
  background-color: var(--color-brand-green);
  border-color: var(--color-brand-green);
  color: var(--color-brand-green-dark);
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: var(--color-brand-grey);
    border-color: var(--color-brand-grey);
    color: var(--color-grey-light);
    box-shadow: none;
  }
}

.btn-primary.disabled,
.btn-primary:disabled {
  background-color: var(--color-grey);
  border-color: var(--color-grey);
  opacity: 0.5;
}